

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
